*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: rgb(222, 222, 245);
}
.container{
    width: 80%;
    margin: auto;

}
header{
    height: 150px;
    margin: auto;
    text-align: center;
    background: rgb(97, 97, 226);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tt{
    height: 50px;
    line-height: 50px;
    font-size: 32px;
}
ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
li{
    
    list-style: none;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
     
    
}
li:hover{
    
    background: rgb(53, 53, 236);
    border-bottom: 3px solid rgb(245, 209, 8);
    transition:  1s;
}
section{
    width: 100%;
    background: rgb(244, 245, 219);
    padding-top: 20px;
    padding-bottom: 20px;

}
article{
    width: 80%;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    box-shadow: 1px 1px 10px 1px rgb(153, 153, 153);
}
h3{
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}
article>p{
    width: 70%;
    text-align: justify;
    margin: 20px auto;
    border-left: 2px solid blue;
    padding-left: 10px;
    font-size: 18px;
}
article>img{
    width: 500px;
    height: 450px;
    margin: 15px auto;
    

}

footer{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
}
footer>h1{
    color: white;
    margin: auto;
}
footer>a{
    color: white;
    margin: auto;
    text-decoration: none;
}